/* font = font-family: 'Roboto', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
:root{
    --time-duration: 1%;
    --text-font: monospace;
    --text-size: 3rem;
    --text-spcae : calc(6 * 3rem);
}
html{
    scroll-behavior: smooth;
    direction: ltr;
}
*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height:100vh ;
    /* take this when enternet is on */
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
div.intro-container{
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}
div.intro{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
div.intro > div.background{
    transform: rotateY(180deg);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -200;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background: #000;
    background-image: url(./img/man-2933984.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


div.say-intro{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align:center;
}

div.text-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto ;
    width: 100%;
    padding-left: 10%;
    align-items: flex-start;
}

div.text-wrapper > span{
    display: inline-block;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.text-con{
    display: inline;
    font-size: var(--text-size);
    font-family: inherit;
    color: rgb(255, 92, 92);
    border-right: .10em solid;
    animation: blink-caret .8s step-end infinite;   
    box-sizing: border-box;
    padding: 3px ;
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 136, 0) }
  }





/* learned */
div.learned{
    height: 100vh;
    background: #000;
}


/* nav */
nav.navbar{
    position: static;
    width: 100vw;
    left: 0;
    top: 0;
    color: white;
    transition: all .7s ease ;
    background: #6d5a4a;
    opacity: 1;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 0 0 ;
    opacity: 1;
}
nav.navbar.active{
    box-shadow: 0 -6px 89px -10px #fff;
    padding: 20px 20px;
    opacity: 1;
    background: #016da0;
    position: fixed;
    top: 0;
}




























 /* reset settings  */

 /* 
 
 position: absolute;
 left: 50%;
 top:50%;
 tranform: translate(-50%, -50%)
 
 */